@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://use.typekit.net/gpk2rpd.css);/* @COLORS */

/* @FONTS */

/* @PADDING & @MARGIN */

.blog-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.blog {
  height: 100%;
  width: 70vw;
  background-color: #EBF2F5;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 8px;
}

.add-btn {
  margin-left: 10vw;
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20pt;
  padding: 4px 6px 4px 6px;
  margin-bottom: 30px;
}

.btn {
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20pt;
  padding: 4px 6px 4px 6px;
}

.blog-btn {
  display: flex;
  justify-content: flex-end;
}

.blog-btn .btn {
  margin: 4px;
}

.edit-btn {
  display: flex;
  justify-content: center;
}

.edit-btn .btn {
  margin: 4px;
}

.blog-left {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.blog-left a {
  font-family: tenon, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  margin-right: 35px;
  color: #008FFF;
}

input,
textarea {
  margin: 4px;
  padding: 4px 6px 4px 6px;
  background: none;
  border: none;
  border-bottom: 1px solid #161616;
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14pt;
  color: black;
}

button {
  background: none;
  border: none;
  color: black;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20pt;
  margin-bottom: 8px;
}

h2 {
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14pt;
}

/* @STATES */

input::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder {
  color: black;
}

input:-ms-input-placeholder {
  color: black;
}

input::-ms-input-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

textarea::-webkit-input-placeholder {
  color: black;
}

textarea::-moz-placeholder {
  color: black;
}

textarea:-ms-input-placeholder {
  color: black;
}

textarea::-ms-input-placeholder {
  color: black;
}

textarea::placeholder {
  color: black;
}

.faq-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
  height: 100%;
  width: 76vw;
  background-color: #51e9af;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
}

.add-btn {
  margin-left: 10vw;
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20pt;
  padding: 4px 6px 4px 6px;
  margin-bottom: 30px;
}

.btn {
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20pt;
  padding: 4px 6px 4px 6px;
}

.faq-btn {
  display: flex;
  justify-content: flex-end;
}

.faq-btn .btn {
  margin: 4px;
}

.edit-btn {
  display: flex;
  justify-content: center;
}

.edit-btn .btn {
  margin: 4px;
}

input,
textarea {
  margin: 4px;
  padding: 4px 6px 4px 6px;
  background: none;
  border: none;
  border-bottom: 1px solid #161616;
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14pt;
  color: black;
}

h1 {
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20pt;
  margin-bottom: 8px;
}

h2 {
  font-family: tenon, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14pt;
}

/* @STATES */

input::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder {
  color: black;
}

input:-ms-input-placeholder {
  color: black;
}

input::-ms-input-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

*,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

nav {
  width: 74vw;
  height: 100px;
  display: flex;
  position: absolute;
}

.left {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.left a {
  font-family: tenon, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  margin-right: 35px;
  color: #EBF2F5;
}

.right {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right a {
  font-family: tenon, sans-serif;
  font-size: 14pt;
  font-weight: 800;
  margin-left: 10px;
  color: #EBF2F5;
}

.main {
  height: 120%;
  width: 100%;
  background-color: #008FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

/* IMAGES */

.logo--icon {
  width: 35px;
  margin-right: 10px;
}

.line--icon {
  width: 35px;
}

#name {
  font-weight: 800;
}

/* STATES */

a:hover {
  text-decoration: none;
}

