// @FRONTOFFICE
*, body {
    margin: 0;
    padding: 0;
}

.desktop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    @include backoffice-content();
}

.navigationcontainer {
    width: 74vw;
    height: 100px;
    display: flex;
    position: absolute;
}

.leftnav {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}
.leftnav a {
    font-family: $fontfam;
    font-size: $fontsize-backoffice-content;
    font-weight: $fontweight-light;
    margin-right: 35px;
    color: $white;
}

.rightnav {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightnav a {
    font-family: $fontfam;
    font-size: $fontsize-backoffice-content;
    font-weight: $fontweight-bold;
    margin-left: 10px;
    color: $white;
}

.background-images {
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: fixed;
    // padding-top: 200px;
    // background-image: linear-gradient(to bottom right, $regular-blue, $dark-blue);
}

.header--background {
    width: 100%;
}

.bassline--background {
    width: 100%;
    margin-top: -260px;
}

.infographic--background {
    width: 100%;
    margin-top: -260px;
}

.main--background {
    width: 100%;
    margin-top: -360px;
}

.footer--background {
    width: 100%;
    margin-top: -300px;
}

/* IMAGES */
.logo--icon {
    width: 35px;
    margin-right: 10px;
}

.line--icon {
    width: 35px;
}

.navigationLeft {
    width: 100px;
    display: flex;
    justify-content: space-between;
    a {
        @include backoffice-content();
    }
}


// .navbar-brand {
//     font-family: $fontfam;
//     font-style: $fontstyle;
//     font-weight: $fontweight-bold;
// }

.navbar-brand {@include backoffice-title();}

.navbar-collapse { margin-left: 50px;}

#name { font-weight: $fontweight-bold; }

/* STATES */
a:hover {text-decoration: none;}

/* INHOUD */

.title {
    color: $white;
    @include title-large();
}

.subtitle {
    color: $white;
    @include content-large();
}

.download--btn {
    width: 220px;
    margin-top: -40px;
}

.header--phone {
    position: absolute;
    height: 600px;
    top: 220px;
    right: 7vw;
}

.swipe--phone {
    position: absolute;
    height: 600px;
    top: 1900px;
}

.bold {
    font-weight: $fontweight-bold;
}

.section--first {
    width: 74vw;
    position: absolute;
    // background: $test;
    margin-top: 180px;
}

.section--second {
    width: 60vw;
    position: absolute;
    margin-top: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $regular-blue;
    }
    .bold {
        color: $regular-blue;
    }
}

.section--third {
    width: 80vw;
    position: absolute;
    margin-top: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $white;
    }
    .subtitle {
        color: $white;
    }
}

.sub-center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black;
}

.blognav {
    a {color: $regular-blue;}
}
