// @FRONTOFFICE
*, body {
    margin: 0;
    padding: 0;
}

.desktop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    @include backoffice-content();
}

.navigationcontainer {
    width: 74vw;
    height: 100px;
    display: flex;
    position: absolute;
}

.leftnav {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}
.leftnav a {
    font-family: $fontfam;
    font-size: $fontsize-backoffice-content;
    font-weight: $fontweight-light;
    margin-right: 35px;
    color: $white;
}

.rightnav {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightnav a {
    font-family: $fontfam;
    font-size: $fontsize-backoffice-content;
    font-weight: $fontweight-bold;
    margin-left: 10px;
    color: $white;
}

.desktopapp {
    display: flex;
    z-index: 4;
}

.background-images {
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: fixed;
    // padding-top: 200px;
    // background-image: linear-gradient(to bottom right, $regular-blue, $dark-blue);
}

.header--background {
    width: 100%;
}

.bassline--background {
    width: 100%;
    margin-top: -260px;
}

.infographic--background {
    width: 100%;
    margin-top: -260px;
}

.main--background {
    width: 100%;
    margin-top: -360px;
}

.adv--background {
    width: 100%;
    margin-top: -360px;
}

.section--background {
    width: 100%;
    margin-top: -130px;
}

.footer--background {
    width: 100%;
    margin-top: -300px;
}

/* IMAGES */
.logo--icon {
    width: 35px;
    margin-right: 10px;
}

.line--icon {
    width: 35px;
}

.navigationLeft {
    width: 100px;
    display: flex;
    justify-content: space-between;
    a {
        @include backoffice-content();
    }
}

.navbar-brand {@include backoffice-title();}

.navbar-collapse { margin-left: 50px;}

#name { font-weight: $fontweight-bold; }

.section-adv {
    // background-color: $test;
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-adv a {
    font-family: $fontfam;
    font-size: 22pt;
    font-weight: $fontweight-bold;
    margin-left: 10px;
    color: $white;
}

/* STATES */
a:hover {text-decoration: none;}

/* INHOUD */

.title {
    color: $white;
    @include title-large();
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
}

.subtitle {
    color: $white;
    @include content-large();
    line-height: 1.4em;
}

.download--btn {
    width: 220px;
    margin-top: -40px;
}

.header--phone {
    position: absolute;
    height: 600px;
    top: 220px;
    right: 7vw;
}

.imageIphone--ad {
    position: absolute;
    height: 600px;
    top: 5200px;
    right: 8vw;
    -ms-transform: rotate(3deg); /* IE 9 */
    transform: rotate(3deg);
    // box-shadow: 18px 3px 81px -17px rgba(0, 0, 0, 0.644);
}

.swipe--phone {
    position: absolute;
    height: 600px;
    top: 1900px;
    z-index: 1;
}

.bold {
    font-weight: $fontweight-bold;
}

.section--first {
    width: 74vw;
    position: absolute;
    // background: $test;
    margin-top: 180px;
}

.section--second {
    width: 60vw;
    position: absolute;
    margin-top: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $regular-blue;
    }
    .bold {
        color: $regular-blue;
    }
}

.stats--influencer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 18px 3px 81px -17px rgba(0, 0, 0, 0.644);
    padding: 4px;
    .bold {
        @include backoffice-title;
    }
    a {color: $regular-yellow;}
    a:hover{color: $dark-yellow; cursor: pointer;}
    .stat--info, .stat--icon {
        margin: 4px 6px 4px 6px;
        color: $regular-yellow;
    }
}

.stats--brand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 18px 3px 81px -17px rgba(0, 0, 0, 0.644);
    padding: 4px;
    .bold {
        @include backoffice-title;
    }
    a:hover{color: $dark-purple; cursor: pointer;}
    .stat--info, .stat--icon {
        margin: 4px 6px 4px 6px;
        color: $regular-purple;
    }
}

.stat--info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-left: 6px;
    line-height: 1.4em;
    padding-right: 10px;
    // align-items: center;
}

.section--third {
    width: 80vw;
    position: absolute;
    margin-top: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $white;
    }
    .subtitle {
        color: $white;
    }
}

.number {
    @include subtitle-large();
    // color: $regular-yellow;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sub-center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black;
}

.blognav {
    a {color: $regular-blue;}
}

.section--fourth {
    // background-color: $test;
    width: 60vw;
    position: absolute;
    margin-top: 2800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $regular-blue;
        line-height: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bold {
        color: $regular-blue;
    }
}

.section--fifth {
    width: 80vw;
    position: absolute;
    margin-top: 3580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $regular-blue
    }
    .subtitle {
        color: $regular-blue;
    }
}

.section-advertention {
    width: 60vw;
    left: 5vw;
    position: absolute;
    margin-top: 5250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.4em;
    // background: $test;
    .title {
        color: $white;
    }
    .subtitle {
        color: $white;
        // width: 60%;
        margin-bottom: 20px;
    }
}

.kbc-start {
    width: 60vw;
    z-index: 5;
    height: 340px;
    right: 0vw;
    position: absolute;
    margin-top: 6180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4em;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.kbc-brand {
    background-image: linear-gradient(to bottom right, $regular-purple, $dark-purple);
}

.kbc-influencer {
    background-image: linear-gradient(to bottom right, $regular-yellow $dark-yellow);
}

/* STATISTICS */
.stat--love {
    margin-top: 2000px;
    z-index: 2;
    left: 21vw;
}

.stat--msg {
    margin-top: 2300px;
    z-index: 4;
    left: 27vw;
}

.stat--money {
    margin-top: 2090px;
    z-index: 4;
    right: 28vw;
}

.stat--plane {
    margin-top: 2400px;
    z-index: 4;
    right: 26vw;
}

.stat--registratedBrands {
    margin-top: 2100px;
    z-index: 3;
    left: 23vw;
    border-radius: 8px;
}

.stat--registratedinfluencers {
    margin-top: 1900px;
    z-index: 4;
    right: 16vw;
    border-radius: 8px;
}

.stat--createdMatches {
    margin-top: 2200px;
    z-index: 4;
    right: 26vw;
    border-radius: 8px;
}

.stat--danone {
    margin-top: 2000px;
    z-index: 2;
    left: 21vw;
}

.stat--tagmag {
    margin-top: 2300px;
    z-index: 4;
    left: 24vw;
}

.stat--boardx {
    margin-top: 2450px;
    z-index: 4;
    left: 32vw;
}

.stat--cake {
    margin-top: 2080px;
    z-index: 4;
    right: 24vw;
}

.stat--breydel {
    margin-top: 2400px;
    z-index: 4;
    right: 33vw;
}

.influencertypenav {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    // background: $regular-purple;
    ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        li {
            @include backoffice-content();
        }
    }
}

.influencertypebio {
    width: 100%;
    height: 320px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    .biotitle {
        margin-top: 10px;
        font-family: $fontfam;
        font-size: $fontsize-subtitle-large;
        font-weight: $fontweight-light;
        font-style: normal;
        color: $regular-blue;
    }
    .biodigits {
        @include backoffice-title();
    }
}

.categoryoverview {
    width: 94%;
    height: 60%;
    display: flex;

    // background: $test;
    .category {
        // background: $test;
        width: 100%;
        height: 90%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .categoryname {
            @include backoffice-content();
        }
        div {
            line-height: 0em;
        }
    }
}

/* IMAGES */
.img {margin: 6px 10px 6px 10px;}

.danone {height: 40px;}
.tagmag {height: 50px;}
.breydel {height: 60px;}
.cake {height: 40px;}
.boardx {height: 40px;}

.cirkel {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}

.noneactive {
    background-color: rgba(0, 145, 255, 0.20);
}
.active {
    background-color: $regular-blue;
}

.imageEngRate {
    width: 55vw;
    position: absolute;
    margin-top: 3950px;
}

#mega:hover, #macro:hover, #meso:hover, #micro:hover, #nano:hover {
    cursor: pointer;
    color: #0091ff9d;
}

#mega { color: $regular-blue; }
.nano { z-index: 6; position: static; display: none;}
.micro { z-index: 6; position: static; display: none;}
.meso { z-index: 6; position: static; display: none;}
.macro { z-index: 6; position: static; display: none;}
.mega { z-index: 6; position: static;}
