// @FRONTOFFICE
*, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

nav {
    width: 74vw;
    height: 100px;
    display: flex;
    position: absolute;
}

.left {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}
.left a {
    font-family: $fontfam;
    font-size: $fontsize-backoffice-content;
    font-weight: $fontweight-light;
    margin-right: 35px;
    color: $white;
}

.right {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right a {
    font-family: $fontfam;
    font-size: $fontsize-backoffice-content;
    font-weight: $fontweight-bold;
    margin-left: 10px;
    color: $white;
}

.main {
    height: 120%;
    width: 100%;
    background-color: $regular-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

/* IMAGES */
.logo--icon {
    width: 35px;
    margin-right: 10px;
}

.line--icon {
    width: 35px;
}

#name { font-weight: $fontweight-bold; }


/* STATES */
a:hover {text-decoration: none;}
