@media screen and (min-width: 992px) and (max-width: 1190px) {
    .desktop {display: none;}

    .indevelopment {
        display: flex;

        .title {
            font-size: 28pt;
        }

    }
  }

  @media screen and (min-width: 642px) and (max-width: 992px) {
    .desktop {
        display: none;
    }

    .indevelopment {
        display: flex;

        .title {
            font-size: 24pt;
        }

    }
  }

  @media screen and (max-width: 642px) {
    .desktop {
        display: none;
    }

    .indevelopment {
        display: flex;

        .title {
            font-size: 12pt;
        }
    }
  }
